#moods-genres{
    width:100%;
    padding: 2rem;
    .moods, .genres{
        color: #fff;
        h2{
            font-size: 3rem;
            text-transform: uppercase;
            font-weight: 900;
        }
        .row{
            margin: 0;
        }
    }
    .moods{
        margin-bottom: 2rem;
    }
}